<section data-ng-controller="ProjetsController" data-ng-init="findOneProject()">
	<div class="page-header">
		<h1 data-ng-bind="projet.projectName"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == projet.user._id))">
		<a class="btn btn-primary" href="/#!/projets/{{projet._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="removeProject();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="projet.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="projet.user.displayName"></span>
		</em>
	</small>
</section>
